<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Coș</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('partials/header') %>
  <h1>Coș de cumpărături</h1>
  <p>Coșul tău de cumpărături este gol.</p>
  <%- include('partials/footer') %>
</body>
</html>
