<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Finalizare</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('partials/header') %>
  <h1>Finalizare Comandă</h1>
  <p>Introduceți detaliile pentru a finaliza comanda.</p>
  <%- include('partials/footer') %>
</body>
</html>
