<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('partials/header') %>
  <h1>Contact</h1>
  <p>Pentru orice întrebare, ne puteți contacta la email@example.com.</p>
  <%- include('partials/footer') %>
</body>
</html>
