<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Acasă</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('partials/header') %>
  <h1>Bine ați venit la Biblioteca Online</h1>
  <p>Explorați colecția noastră variată de cărți.</p>
  <%- include('partials/footer') %>
</body>
</html>
