<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Orders - Online Bookstore">
    <meta name="keywords" content="Order, Online Bookstore">
    <meta name="author" content="Your Name">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/resources/bookstore.png" type="image/x-icon">
    <title>Orders - Online Bookstore</title>
</head>
<body>
  <%- include('partials/header') %>
  <h1>Comenzile tale</h1>
  <ul>
    <% orders.forEach(function(order) { %>
      <li>Comandă ID: <%= order.id %>, Detalii: <%= order.order_details %></li>
    <% }); %>
  </ul>
  <%- include('partials/footer') %>
</body>
</html>
