<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Comenzi</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('partials/header') %>
  <h1>Comenzile tale</h1>
  <ul>
    <% orders.forEach(function(order) { %>
      <li>Comandă ID: <%= order.id %>, Detalii: <%= order.order_details %></li>
    <% }); %>
  </ul>
  <%- include('partials/footer') %>
</body>
</html>
