<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Înregistrare</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('partials/header') %>
  <h1>Înregistrare</h1>
  <form action="/register" method="post">
    <label for="username">Nume de utilizator:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Parolă:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Înregistrare</button>
  </form>
  <%- include('partials/footer') %>
</body>
</html>
