<footer>
  <address style="color: white">
    <p>Phone: <a href="tel:+123456789">+123456789</a></p>
    <p>Address: <a href="https://maps.google.com/?q=Facultatea de Matematica si Informatica" target="_blank">Facultatea de Matematica si Informatica</a></p>
    <p>Email: <a href="mailto:info@example.com">info@example.com</a></p>
    <p>Chat: <a href="skype:info?chat">Skype</a> / <a href="https://wa.me/123456789">WhatsApp</a></p>
  </address>
  <small>&copy; 2024. Date Created: <time datetime="2024-07-09">July 9, 2024</time></small>
</footer>
