<header>
  <nav>
    <ul>
      <li><a href="/">Acasă</a></li>
      <li><a href="/about">Despre Noi</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/bookstore">Librărie</a></li>
      <li><a href="/cart">Coș
      <li><a href="/checkout">Finalizare</a></li>
      <% if (user) { %>
      <li><a href="/orders">Comenzi</a></li>
      <li><a href="/logout">Deconectare</a></li>
      <% } else { %>
      <li><a href="/login">Autentificare</a></li>
      <li><a href="/register">Înregistrare</a></li>
        <% } %>
      </ul>
    </nav>
  </header>
  