<head>
    <meta charset="UTF-8">
    <meta name="author" content="Autorul">
    <meta name="keywords" content="cuvinte, cheie, pentru, site">
    <meta name="description" content="Descrierea site-ului">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles.scss">
    <script src="/js/filters.js" defer></script>
    <link rel="icon" href="/resources/bookstore.png" type="image/x-icon">
    <title>Pagina Principală</title>
  </head>
  